<fieldset data-hook="payupaisa">
  <legend align="center"><%= Spree.t(:transaction, :scope => :payupaisa) %></legend>

  <div class="row">
    <div class="alpha six columns">
      <dl>
        <dt><%= Spree.t(:payer_id, :scope => :payupaisa) %>:</dt>
        <dd><%= payment.source.payer_id %></dd>

        <dt><%= Spree.t(:token, :scope => :payupaisa) %>:</dt>
        <dd><%= payment.source.token %></dd>

        <dt><%= Spree.t(:transaction_id) %>:</dt>
        <dd><%= payment.source.transaction_id %></dd>
      </dl>
    </div>

    <% if payment.source.state != 'refunded' %>
      <%= button_link_to Spree.t('actions.refund', :scope => :payupaisa), spree.payupaisa_refund_admin_order_payment_path(@order, payment), :icon => 'icon-dollar' %>
    <% else %>
      <div class="alpha six columns">
        <dl>
          <dt><%= Spree.t(:state, :scope => :payupaisa) %>:</dt>
          <dd><%= payment.source.state.titleize %></dd>

          <dt><%= Spree.t(:refunded_at, :scope => :payupaisa) %>:</dt>
          <dd><%= pretty_time(payment.source.refunded_at) %></dd>

          <dt><%= Spree.t(:refund_transaction_id, :scope => :payupaisa) %>:</dt>
          <dd><%= payment.source.refund_transaction_id %></dd>
        </dl>
      </div>
    <% end %>
  </div>
</fieldset>
